<div class="all">
    <br><br><br><br><br><br><br>

    <div class="container-fluid">
        
        <div class="row">
          <div class="col-sm-4">
            <div>
                <img class="icon" src="../../assets/Images/phone.png">
                <div class="text">
                <h4>Phone</h4>
                <p>+91-9921265150</p>
                <p>+91-9607002200</p>
                </div>
            </div></div>
          <div class="col-sm-4">
            <div>
                <img class="icon" src="../../assets/Images/email.jpg">
                <div class="text">
                <h4>Email</h4>
                <p>psdeshmukh9999@gmail.com</p>
                </div>
            </div></div>
          <div class="col-sm-4">
            <div>
                <img class="icon" src="../../assets/Images/location.jpg">
                <div class="text">
                <h4>Location</h4>
                <p>Near Sai Gajanan Hotel,<br>
                    Anand Sagar,Balapur Road,<br>
                    Shegaon 444203, Tq. Shegaon<br>
                    Dist. Buldhana<br>
                    State Maharastra</p>
                </div>
            </div></div>
        </div>
      </div>
    

    
    <br><br><br><br><br><br><br>
    <br><br><br>
    

</div>