<div class="all">
    <br>
    <h1 style="text-align: center;">YOGI FLY ASH BRICKS</h1>
    <h3 style="margin-left: 100px;">
        M/s Yogi Fly Ash Bricks was established in 2019, to serve the need of local area. 
        Basically this bricks is made up fly ash (i. e. ash is the waste production of thermal power plant), 
        cement and stone crush.<br> <br>
        Government of India has been mandatory the used of this bricks because it is made from the waste.<br><br>
        <br>Advantages of Fly Ash Bricks over traditional red bricks are as follows:<br><br>
        1)	Coast efficient<br>
        2)	About  70% of mortar is reduce.<br>
        3)	Less amount of water for querying.<br>
        4)	Strength is very high.<br>
    </h3>
    <br>


</div>
