.all{
    background-color: lightgrey;
    margin-left: 25%;
    text-decoration-color: black;
    overflow: hidden;
}

.name{
    text-align: center;
}

.img{
    height: 310px;
    width: 500px;
    margin-left: 22%;
    margin-top: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}

.thumb{
    height: 300px;
}

.vari{
  margin-left: 18%;
}


